.productList {
    width: 100%;
    margin: 0 auto;
    padding: 80px 100px 190px;
}

.productList_container {
    display: grid;
    grid-template-columns: repeat(4, 386px);
    column-gap: calc((100% - 4 * 386px) / 3);
    row-gap: 103px;
}

.categoryName {
    font-weight: 400;
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 103px;
}

.productCard {
    height: 444px;
    padding: 16px;
    position: relative;
}

.productCard__imgContainer {
    overflow: hidden; 
    width: 100%; 
    height: 330px;
    margin-bottom: 24px;
    position: relative;
}

.productCard__preview {
    width: 100%;
}

.productCard__outOfStock {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    color: #8D8F9A;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.productCard__name {
    font-weight: 300;
    font-size: 18px;
}

.productCard__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 28.8px;
}

.toCartBtn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #5ECE7B;
    background-image: url('../../Resources/Img/cartBtn.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    top: 320px;
    display: none;
    transition: 0.2s;
}

.toCartBtn:hover {
    transform: scale(1.2);
}

.toCartBtn:active {
    transform: scale(1);
    background-color: #eee;
}

.productCard:hover {
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
}

.productCard:hover .toCartBtn {
    display: block;
}