* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.app {
    color: #1D1F22;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}