@font-face {
    font-family: 'Raleway';  
    src: url('./Resources/Fonts/Raleway-Light.woff') format("woff"); 
    font-style: normal; 
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';  
    src: url('./Resources/Fonts/Raleway-Regular.woff') format("woff"); 
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';  
    src: url('./Resources/Fonts/Raleway-Medium.woff') format("woff"); 
    font-style: normal; 
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';  
    src: url('./Resources/Fonts/Raleway-SemiBold.woff') format("woff"); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';  
    src: url('./Resources/Fonts/Raleway-Bold.woff') format("woff"); 
    font-style: normal; 
    font-weight: 700;
}